<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="./assets/media/images/CardifyFavicon.png" type="image/x-icon" />
		<link rel="apple-touch-icon" href="./assets/media/images/CardifyFavicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="./assets/css/cardify.default.css" />
		<link rel="stylesheet" href="./assets/css/cardify.authentication.css" />
		<title>Register | Cardify</title>
	</head>
	<body>
		<div v-cloak class="v-layer-wrapper" id="v-main">
			<div class="v-hero-image">
				<img src="./assets/media/images/shopper.png" alt="" class="img-fluid" />
			</div>
			<div class="v-outer-parent-container mx-auto pb-5 d-flex flex-column position-relative">
				<header class="v-auth-header">
					<figure class="v-logo-image">
						<img src="./assets/media/svg/cardify-white-variant-logo.svg" alt="" class="img-fluid" />
					</figure>
				</header>
				<div class="v-main-form-container">
					<form action="" class="v-form">
						<header class="v-form-header d-flex flex-column align-items-center text-center col-10 mx-auto row-gap-1">
							<h3 class="v-form-title"><b>Register an account</b></h3>
							<span class="v-subtext"> Please make sure the details are correct as they will be used to verify your identity. </span>
						</header>
						<div class="v-form-main-container row col-12 m-0 align-items-stretch column-gap-3 row-gap-3 mt-3">
							<div class="v-form-input p-0">
								<label for="email" class="v-form-label">Email Address</label>
								<div class="v-form-input-inner p-0">
									<input type="text" id="email" class="form-control" placeholder="Enter your email address" />
								</div>
							</div>
							<div class="v-form-input p-0">
								<label for="phoneNumber" class="v-form-label">Phone Number</label>
								<div class="v-form-input-inner has-pad-left">
									<button
										@click="toggleAuthDropdown"
										type="button"
										class="d-flex align-items-center column-gap-1 v-country-code"
										data-toggle-dropdown="v-country-code-dropdown">
										<div class="d-flex align-items-center v-flag-chevron column-gap-1">
											<span class="v-country-logo">
												<img
													:src="`./assets/media/countries/${phoneCountryCodeObject.phoneOptionDefault.countryShortCode}.svg`"
													alt=""
													class="img-fluid" />
											</span>
											<span class="v-icon">
												<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
													<path
														fill="currentColor"
														fill-rule="evenodd"
														d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06"
														clip-rule="evenodd" />
												</svg>
											</span>
										</div>
										<span class="v-country-phone-code">{{phoneCountryCodeObject.phoneOptionDefault.phoneCode}}</span>
									</button>
									<div
										class="v-country-option-dropdown v-phone-dropdown"
										:class="dropdownsState.countryPhoneCode ? 'active' : ''"
										data-toggle-dropdown-receiver="data-toggle-dropdown">
										<input
											type="search"
											@input="filterSearch"
											v-model="searchState.countryDropdownSearchTerm"
											spellcheck="false"
											class="form-control"
											placeholder="Search for country, code..." />
										<ul class="v-dropdown-container mt-2">
											<template v-for="(country, index) in phoneCountryCodeObject.filterSearchedArray" :key="index">
												<li>
													<button type="button" class="v-toggle-country" @click="updateCountryCodeObject(country)">
														<span class="v-flag-image">
															<img :src="`./assets/media/countries/${country.countryCode}.svg`" alt="" class="img-fluid" />
														</span>
														<span class="d-flex align-items-center column-gap-2">
															<span class="v-country-name text-truncate">{{country.countryName}}</span>
															<span class="v-code">{{country.phoneCode}}</span>
														</span>
													</button>
												</li>
											</template>
										</ul>
									</div>
									<input type="tel" id="phoneNumber" class="form-control" placeholder="Enter your phone" />
								</div>
							</div>
							<div class="v-form-input col-12 col-md p-0">
								<label for="firstname" class="v-form-label">First Name</label>
								<div class="v-form-input-inner">
									<input type="text" id="firstname" class="form-control" placeholder="Enter your firstname" spellcheck="false" />
								</div>
							</div>
							<div class="v-form-input col-12 col-md p-0">
								<label for="lastname" class="v-form-label">Last Name</label>
								<div class="v-form-input-inner">
									<input type="text" id="lastname" class="form-control" placeholder="Enter your lastname" spellcheck="false" />
								</div>
							</div>
							<div class="v-form-input p-0">
								<label for="username" class="v-form-label">Username</label>
								<div class="v-form-input-inner">
									<input
										type="text"
										id="username"
										autocomplete="username"
										class="form-control"
										placeholder="Enter preferred username"
										spellcheck="false" />
								</div>
							</div>
							<div class="v-form-input p-0">
								<label for="current-password" class="v-form-label">Password</label>
								<div class="v-form-input-inner has-pad-right">
									<input
										type="password"
										id="current-password"
										class="form-control"
										data-password-receiver="password"
										autocomplete="current-password"
										placeholder="Enter a strong password" />
									<button type="button" class="v-password-toggler" data-toggle-password="password">
										<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
											<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
												<path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0" />
												<path d="M2 12c1.6-4.097 5.336-7 10-7s8.4 2.903 10 7c-1.6 4.097-5.336 7-10 7s-8.4-2.903-10-7" />
											</g>
										</svg>
									</button>
								</div>
							</div>
							<div class="v-form-input p-0">
								<label for="referralName" class="v-form-label">Referral username (Optional)</label>
								<div class="v-form-input-inner has-pad-right">
									<input type="text" id="referralName" class="form-control" placeholder="Enter referral username" spellcheck="false" />
								</div>
							</div>
							<div class="v-form-input p-0">
								<label for="methodOfReferral" class="v-form-label">How did you hear about us (Optional)</label>
								<div class="v-form-input-inner has-pad-right">
									<select id="referral-source" v-model="registrationUserDetails.referralSource" class="form-select" name="referral-source">
										<option disabled value="">Select referral mode</option>
										<option value="search-engine">Search Engine (e.g., Google)</option>
										<option value="social-media">Social Media (Facebook, Twitter, etc.)</option>
										<option value="friend-family">Friend or Family Referral</option>
										<option value="online-ad">Online Advertisement</option>
										<option value="event-conference">Event or Conference</option>
										<option value="others">Others</option>
									</select>
								</div>
							</div>
							<div class="v-action-call-container p-0 mt-2">
								<button type="button" class="v-action-call">
									<!-- <span class="loadingBtn"></span> -->
									<span>Create account</span>
								</button>
							</div>
						</div>
					</form>
				</div>
				<footer class="v-auth-footer d-flex flex-column align-items-center text-center">
					<span class="v-footer-text">
						<span class="v-footer-text-item"> Already have an account ? <a href="./login.html" class="v-login ms-1">Log in</a> </span>
					</span>
					<div class="d-flex flex-wrap align-items-center column-gap-4 row-gap-2 justify-content-center">
						<a href="">
							<figure role="img" class="v-store-link">
								<img src="./assets/media/images/googleplay-store.png" title="Playstore" alt="" class="img-fluid" />
							</figure>
						</a>
						<a href="">
							<figure role="img" class="v-store-link">
								<img src="./assets/media/images/app-store.png" title="Appstore" alt="" class="img-fluid" />
							</figure>
						</a>
					</div>
				</footer>
			</div>
		</div>
		<script src="./assets/js/bootstrap.js"></script>
		<script type="module" src="./assets/js/cardify.vue.js"></script>
		<script type="module" src="./assets/js/index.custom.js"></script>
	</body>
</html>
